<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdutgoodfish.goodfish.mapper.FavoriteMapper">

    <select id="pageQuery" resultType="org.gdutgoodfish.goodfish.pojo.vo.FavoriteVO">
        select c.id as category_id, c.category_name, u.username, u.id as user_id, f.id, i.name, i.price, i.image, i.description, i.location, f.create_time, i.id as item_id
        from favorite f
            left join item i on f.item_id = i.id
            left join users u on i.user_id = u.id
            left join category c on i.category_id = c.id
        where f.user_id = #{userId}
    </select>
</mapper>
