<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdutgoodfish.goodfish.mapper.SecondHandOrderItemMapper">

    <update id="updateOrderItem">
        UPDATE second_hand_order_item
        <set>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="productCondition != null">product_condition = #{productCondition},</if>
            <if test="warrantyStatus != null">warranty_status = #{warrantyStatus},</if>
            <if test="createdAt != null">created_at = #{createdAt}</if>
        </set>
        WHERE item_id = #{itemId}
    </update>
</mapper>